@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<h4>This is a scheduler for generating recommended courses and rating recommended courses.</h4>
<br/>
<h4>This is a scheduler is based on Computer Science courses offered by the University of Calgary.</h4>
<br/>


