@model Scheduler.Models.User

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type = "password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolEmail" class="control-label"></label>
                <input asp-for="SchoolEmail" class="form-control" />
                <span asp-validation-for="SchoolEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursesTaken" class="control-label"></label>
                <input asp-for="CoursesTaken" class="form-control" />
                <span asp-validation-for="CoursesTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentrations" class="control-label"></label>
                <input asp-for="Concentrations" class="form-control" />
                <span asp-validation-for="Concentrations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funds" class="control-label"></label>
                <input asp-for="Funds" class="form-control" />
                <span asp-validation-for="Funds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
